name: CI

on: [push]

env:
  CI: true # disables SBT super shell which has problems with CI environments

jobs:
  build:
    name: Scala ${{ matrix.scala }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        scala: ['2.12', '2.13']
        include:
          - scala: '2.12'
            scala-version: 2.12.12
          - scala: '2.13'
            scala-version: 2.13.4

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8 and SBT
      uses: olafurpg/setup-scala@v10
      with:
        java-version: adopt@1.8
    - name: Cache Coursier
      uses: actions/cache@v1
      with:
        path: ~/.cache/coursier
        key: ${{ runner.os }}-coursier-${{ hashFiles('**/*.sbt') }}
    - name: Cache SBT ivy cache
      uses: actions/cache@v1
      with:
        path: ~/.ivy2/cache
        key: ${{ runner.os }}-sbt-ivy-cache-${{ hashFiles('**/build.sbt') }}
    - name: Cache SBT
      uses: actions/cache@v1
      with:
        path: ~/.sbt
        key: ${{ runner.os }}-sbt-${{ hashFiles('**/build.sbt') }}
    - name: Compile and check format
      run: >-
        sbt ++${{ matrix.scala-version }} scalafmtSbt Test/compile &&
        git diff --exit-code
    - name: Run tests
      run: sbt -Dsbt.color=always ++${{ matrix.scala-version }} test
    - name: Check mdoc for uncommitted changes
      run: sbt -Dsbt.color=always "docs/mdoc --check"
