package com.kevel.apso.caching

import com.github.blemale.scaffeine.{AsyncLoadingCache, LoadingCache}

import scala.concurrent.{ExecutionContext, Future}

import MemoizeFn._

/**
  * Provides a memoization mechanism for synchronous functions with 0 arguments using Caffeine.
  *
  * Provides a corresponding `apply()` method that follows the signature of the provided `fn` function, but is
  * memoized using Caffeine. The underlying cached result can be evicted via `invalidate`.
  */
sealed trait SyncMemoizeFn0[V] extends (() => V) {
  protected def cacheConfig: config.Cache
  protected def fn: Unit => V
  protected lazy val cache: LoadingCache[Unit, V] = cacheConfig.build.build(fn)
  override def apply(): V = cache.get(())
  def invalidate(): Unit = cache.invalidate(())
  def invalidateAll(): Unit = cache.invalidateAll()
}

/**
  * Provides a memoization mechanism for asynchronous functions with 0 arguments using Caffeine.
  *
  * Provides a corresponding `apply()` method that follows the signature of the provided `fn` function, but is
  * memoized using Caffeine. The underlying cached result can be evicted via `invalidate`.
  */
sealed trait AsyncMemoizeFn0[V] extends (() => Future[V]) {
  protected def cacheConfig: config.Cache
  protected def fn: Unit => Future[V]
  protected def defaultValue: Option[V]
  protected def replacePredicate: (V, V) => Boolean
  protected lazy val cache: AsyncLoadingCache[Unit, V] = cacheConfig.build.buildAsyncFuture(
    fn,
    reloadLoader = Some((key: Unit, oldValue: V) => fn(key).map { newValue =>
      if (replacePredicate(oldValue, newValue)) newValue else oldValue
    }(ExecutionContext.parasitic))
  )
  override def apply(): Future[V] = {
    val fut = cache.get(())
    if (fut.isCompleted) fut else defaultValue match {
      case Some(v) => Future.successful(v)
      case None => fut
    }
  }
  def invalidate(): Unit = cache.synchronous().invalidate(())
  def invalidateAll(): Unit = cache.synchronous().invalidateAll()
}

/** A synchronous view of an asynchronous cached function with a fallback value. */
sealed trait SyncMemoizeFutureFn0[V] extends (() => V) {
  protected def asyncFn: AsyncMemoizeFn0[V]
  override def apply(): V = asyncFn().value.get.get
  def invalidate(): Unit = asyncFn.invalidate()
  def invalidateAll(): Unit = asyncFn.invalidateAll()
}

[#
/**
  * Provides a memoization mechanism for synchronous functions with 1 arguments using Caffeine.
  *
  * Provides a corresponding `apply()` method that follows the signature of the provided `fn` function, but is
  * memoized using Caffeine. Underlying cached entries can be evicted via `invalidate`.
  */
sealed trait SyncMemoizeFn1[[#I0#], V] extends Function1[[#I0#], V] {
  protected def cacheConfig: config.Cache
  protected def fn: ([#I0#]) => V
  protected lazy val cache: LoadingCache[([#I0#]), V] = cacheConfig.build.build(fn.tupled)
  override def apply([#i0: I0#]): V = cache.get(([#i0#]))
  def invalidate([#i0: I0#]): Unit = cache.invalidate(([#i0#]))
  def invalidateAll(): Unit = cache.invalidateAll()
}#
]

[#
/**
  * Provides a memoization mechanism for synchronous functions with 1 arguments using Caffeine.
  *
  * Provides a corresponding `apply()` method that follows the signature of the provided `fn` function, but is
  * memoized using Caffeine. Underlying cached entries can be evicted via `invalidate`.
  */
sealed trait AsyncMemoizeFn1[[#I0#], V] extends Function1[[#I0#], Future[V]] {
  protected def cacheConfig: config.Cache
  protected def fn: ([#I0#]) => Future[V]
  protected def defaultValue: ([#I0#]) => Option[V]
  protected lazy val cache: AsyncLoadingCache[([#I0#]), V] = cacheConfig.build.buildAsyncFuture(fn.tupled)
  override def apply([#i0: I0#]): Future[V] = {
    val fut = cache.get(([#i0#]))
    if (fut.isCompleted) fut else defaultValue([#i0#]) match {
      case Some(v) => Future.successful(v)
      case None => fut
    }
  }
  def invalidate([#i0: I0#]): Unit = cache.synchronous().invalidate(([#i0#]))
  def invalidateAll(): Unit = cache.synchronous().invalidateAll()
}#
]

[#
/** A synchronous view of an asynchronous cached function with a fallback value. */
sealed trait SyncMemoizeFutureFn1[[#I0#], V] extends Function1[[#I0#], V] {
  protected def asyncFn: AsyncMemoizeFn1[[#I0#], V]
  override def apply([#i0: I0#]): V = asyncFn([#i0#]).value.get.get
  def invalidate([#i0: I0#]): Unit = asyncFn.invalidate([#i0#])
  def invalidateAll(): Unit = asyncFn.invalidateAll()
}#
]

object MemoizeFn {
  private[caching] implicit class Function1Ops[A, B](f: A => B) {
    def tupled: A => B = f
  }

  private[caching] def sync[V](function: () => V, conf: config.Cache): SyncMemoizeFn0[V] = new SyncMemoizeFn0[V] {
    override val cacheConfig: config.Cache = conf
    override val fn: Unit => V = _ => function()
  }
[#
  private[caching] def sync[[#I0#], V](function: ([#I0#]) => V, conf: config.Cache): SyncMemoizeFn1[[#I0#], V] = new SyncMemoizeFn1[[#I0#], V] {
    override val cacheConfig: config.Cache = conf
    override val fn: ([#I0#]) => V = function
  }#
]

  private[caching] def async[V](function: () => Future[V], conf: config.Cache, default: => Option[V], preload: Boolean = false, replace: (V, V) => Boolean = (_: V, _: V) => true): AsyncMemoizeFn0[V] = new AsyncMemoizeFn0[V] {
    override val cacheConfig: config.Cache = conf
    override val fn: Unit => Future[V] = _ => function()
    override def defaultValue: Option[V] = default
    override val replacePredicate: (V, V) => Boolean = replace
    if (preload) try { cache.get(()) } catch { case scala.util.control.NonFatal(_) => () }
  }

  private[caching] def syncAsync[V](function: () => Future[V], conf: config.Cache, default: => V, preload: Boolean = false, replace: (V, V) => Boolean = (_: V, _: V) => true): SyncMemoizeFutureFn0[V] = new SyncMemoizeFutureFn0[V] {
    protected val asyncFn: AsyncMemoizeFn0[V] = async(function, conf, Some(default), preload, replace)
  }
[#
  private[caching] def async[[#I0#], V](function: ([#I0#]) => Future[V], conf: config.Cache, default: ([#I0#]) => Option[V]): AsyncMemoizeFn1[[#I0#], V] = new AsyncMemoizeFn1[[#I0#], V] {
    override val cacheConfig: config.Cache = conf
    override val fn: ([#I0#]) => Future[V] = function
    override val defaultValue: ([#I0#]) => Option[V] = default
  }#
]

[#
  private[caching] def syncAsync[[#I0#], V](function: ([#I0#]) => Future[V], conf: config.Cache, default: ([#I0#]) => V): SyncMemoizeFutureFn1[[#I0#], V] = new SyncMemoizeFutureFn1[[#I0#], V] {
    protected val asyncFn: AsyncMemoizeFn1[[#I0#], V] = async(function, conf, ([#i0: I0#]) => Some(default([#i0#])))
  }#
]
}
